<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить новую книгу</title>
</head>
<body>
<h1>Добавить новую книгу</h1>

<!-- Форма для добавления новой книги -->
<form action="/books" method="post">
    <label for="title">Название:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <label for="author">Автор:</label>
    <input type="text" id="author" name="author" required>
    <br>
    <label for="genre">Жанр:</label>
    <input type="text" id="genre" name="genre">
    <br>
    <label for="publisher">Издатель:</label>
    <input type="text" id="publisher" name="publisher">
    <br>
    <button type="submit">Добавить книгу</button>
</form>
</body>
</html>
